/*! Todo Application - CSS Version 0.4.7 Copyright 2021, Stanley Owen */
@import url('https://fonts.googleapis.com/css2?family=Chilanka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 300px;
    color: #212121;
    background-color: #FFFFFF;
    scroll-behavior: smooth;
    transition: all .4s;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Chilanka', sans-serif;
}
body.dark {
    color: #FFFFFF;
    background-color: #212121;
}
a:visited { color: #212121; }
body.dark a, body.dark a:visited { color: #FFF; }
body.dark tbody tr:nth-child(odd) {
    background-color: #3a3a3a;
    transition: all .4s;
}
body.dark tbody tr:hover {
    background-color: #333333;
    transition: all .4s;
}
body.dark .btn__outline { color: #7bb4ff; border: 2px solid #7bb4ff; }
body.dark .btn__outline:hover { background-color: #7bb4ff; color: #FFFFFF; }
body.dark .btn__outline:focus { background-color: #66a8ff; color: #FFFFFF; }
body.dark .navbar,
body.dark .btn__changeMode,
body.dark .about,
body.dark .projects__card,
body.dark .form__contact,
body.dark .contact,
body.dark select {
    background-color: #333;
}
body.dark .btn__scrollTop,
body.dark .navbar__logo,
body.dark .navbar a,
body.dark .main__button,
body.dark .projects__detail,
body.dark .get_in_touch,
body.dark label,
body.dark input,
body.dark textarea,
body.dark select,
body.dark .contact__sendBtn,
body.dark .modal__body a,
body.dark .footer,
body.dark .toggleNavbar button,
body.dark blockquote,
body.dark .closeBtn,
body.dark .view-eye svg,
body.dark .MuiIconButton-root span svg {
    color: #FFFFFF !important;
}
body.dark .bar1,
body.dark .bar2,
body.dark .bar3,
body.dark .navbar .animation__underline:after,
body.dark .contact__body .animation__underline:after,
body.dark .modal__body .animation__underline:after,
body.dark .animation__underline:after {
    background: #FFFFFF;
}
body.dark .modal__container,
body.dark .modal__closeBtn {
    background-color: #333;
    color: #FFFFFF;
}
body.dark .main__title,
body.dark .projects__viewMore {
    color: #79c3ff;
}
body.dark .navbar { box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.2); }
body.dark .footer { background-color: #191919; }
body.dark .contact__onFocus { background: #FFFFFF; }
body.dark .projects__viewMore { border-color: #79c3ff; }
body.dark .btn-config .MuiButtonBase-root { color: #e7e7e7; }
body.dark ::-webkit-calendar-picker-indicator { filter: invert(1); }
body.dark .main__button { box-shadow: 2px 1000px 1px #212121 inset; }
body.dark .projects__viewMore:hover { background-color: #79c3ff; color: #212121; }
body.dark .footer__socialBtn a:hover { background-color: #FFFFFF; color: #212121; }
body.dark .main__divider { background-image: linear-gradient(315deg, #0cbaba 0%, #f400eb 74%); }
body.dark .loader { background-color: rgba(114, 114, 114, 0.61); }
body.dark .form__contact { box-shadow: 0 1px 2px 0 rgb(0 0 0 / 60%), 0 1px 3px 1px rgb(0 0 0 / 30%); }
body.dark .btn__label {
    background-color: #333;
    color: #FFFFFF;
    border-style: solid;
    border-color: #333;
}
body.dark .btn__value {
    background-color: #FFF;
    border-color: #FFF;
    border-style: solid;
    color: #333;
}
body.dark .MuiInput-underline:after { border-bottom: 2px solid #FFFFFF !important; }
body.dark .MuiInput-underline:hover:not(.Mui-disabled):before { border-bottom: 1px solid #7c7c7c !important; }
button, a { user-select: none; cursor: pointer; }
label { user-select: none; }
.privacy-policy {
    font-family: 'Noto Sans JP', sans-serif;
    margin: auto 150px;
    padding-top: 100px;
    transition: all .4s;
}
.inline { display: inline; }
.oauth-container {
    display: relative;
    width: 100%;
    text-align: center;
    margin: 20px 0;
}
.oauth-box {
    display: flex;
    width: 100%;
    outline: none;
    border: none;
    opacity: 0.9;
    border-radius: 5px;
    transition: all .3s;
    text-decoration: none;
}
.github {
    color: #FFF;
    background-color: black;
}
.google {
    color: #FFF;
    background-color: rgb(66 133 244);
}
.change-password {
    color: #FFF;
    background-color: rgb(73, 81, 185);
}
.verify-account {
    color: #FFF;
    background-color: rgb(48 201 64);
}
.logout {
    color: #FFF;
    background-color: rgb(252, 52, 52);
}
.oauth-box:hover { opacity: 1; }
.oauth-box:visited { color: #FFF; }
.oauth-box svg {
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px;
}
.oauth-box p {
    font-family: cursive;
    font-size: 18px;
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
}
#javascript__required {
    text-align: center;
    color: #a6d400;
    margin: 0 auto 50px auto;
    width: 80%;
    max-width: 978px;
    position: relative;
    z-index: 10001;
}
.mt-10 { margin-top: 10px; }
.mt-20 { margin-top: 20px; }
.mt-40 { margin-top: 40px; }
.mb-20 { margin-bottom: 20px; }
.mb-40 { margin-bottom: 40px; }
.ml-40 { margin-left: 40px; }
.ml-60 { margin-left: 60px; }
.ul-ml40 li { margin-left: 40px; }
.ul-mb10 li { margin-bottom: 10px; }
.full-width { width: 100%; }
.no-border { border: none; }
.disabled {
    cursor: auto;
    opacity: 0.7;
}
.disabled:hover { background-color: transparent!important; color: #1a73e8!important; }
.loader {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.61);
    width: 100%;
    height: 50%;
    padding-top: 50vh;
    z-index: 1000;
}
.spin-container {
    position: relative;
    width: 30px;
    height: 30px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 15px;
    -webkit-animation: rotation 1s infinite;
            animation: rotation 1s infinite;
}
.spin-container .shape {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 5px;
}
.spin-container .shape.shape-1 {
    left: 0;
    background-color: #4285F4;
}
.spin-container .shape.shape-2 {
    right: 0;
    background-color: #34A853;
}
.spin-container .shape.shape-3 {
    bottom: 0;
    background-color: #FBBC05;
}
.spin-container .shape.shape-4 {
    bottom: 0;
    right: 0;
    background-color: #EA4335;
}
.spin-container .shape-1 {
    -webkit-animation: shape1 0.5s infinite alternate;
            animation: shape1 0.5s infinite alternate;
}
.spin-container .shape-2 {
    -webkit-animation: shape2 0.5s infinite alternate;
            animation: shape2 0.5s infinite alternate;
}
.spin-container .shape-3 {
    -webkit-animation: shape3 0.5s infinite alternate;
            animation: shape3 0.5s infinite alternate;
}
.spin-container .shape-4 {
    -webkit-animation: shape4 0.5s infinite alternate;
            animation: shape4 0.5s infinite alternate;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background: #888; 
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
.navbar {
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;
    min-width: 300px;
    z-index: 99;
    transition: all 0.4s;
    background-color: #FFFFFF;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302),0 2px 6px 2px rgba(60,64,67,0.149);
}
.navbar a {
    color: #212121;
    text-decoration: none;
    font-weight: bold;
    padding: 18px 20px;
}
.navbar__menu {
    display: block;
    float: right;
}
.navbar__logo {
    float: left;
    font-size: 17px;
    padding: 22px 20px!important;
}
.navbar .description { display: none; }
.toggleNavbar {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 7px;
}
.close {
    position: absolute;
    right: 50px;
}
.closeBtn {
    border: none;
    outline: none;
    background-color: transparent;
    position: absolute;
    right: 20px;
    font-size: 25px;
}
.message__error {
    color: #FFF;
    padding: 15px;
    margin: 20px 15px;
    font-weight: bold;
    border-radius: 10px;
    transition: all .4s;
    background-color: red;
}
.required { color: red; }
.animation__underline {
    text-decoration: none;
    display: inline-block;
    padding: 5px;
    position: relative;
}
.animation__underline:hover:after { width:100%; left: 0; }
.animation__underline:after {
    bottom: 0;
    content: "";
    display: block;
    height: 3px;
    left: 50%;
    position: absolute;
    background: #212121;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
.btn__changeMode {
    position: fixed;
    border-radius: 100%;
    transition: box-shadow .5s;
    background: #1a73e8;
    bottom: 4vh;
    right: 2vw;
    padding: 15px;
    outline: none;
    border: none;
    color: white;
    z-index: 2;
}
.btn__changeMode:hover { box-shadow: 0px 0px 11px #9c9b98; }
.main {
    margin: auto 30px;
    padding-top: 180px;
    transition: all .4s;
}
.main__projects {
    margin: auto 30px;
    padding-top: 100px;
    transition: all .4s;
}
.main__title {
    text-align: center;
    font-size: 50px;
    color: #1976d2;
    transition: all .4s;
}
.btn__outline {
    width: 30%;
    margin: auto;
    height: auto;
    display: block;
    color: #1a73e8;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 15px 25px;
    transition: all .4s;
    border-radius: 100px;
    text-decoration: none;
    background-color: transparent;
    border: 2px solid #1a73e8;
    margin-top: 50px;
}
.btn__outline:hover { background-color: #1976d2; color: #FFFFFF; }
.btn__outline:focus { background-color: #116dc9; color: #FFFFFF; }
.green__text { color: #23c739; }
.badges {
    position: absolute;
    bottom: 10px;
    width: 100%;
    z-index: -1;
}
.badges a { margin-left: 10px; }
.badges button {
    padding: 2px;
    transition: all .4s;
}
.main__table {
    width: 100%;
    overflow: auto;
    margin-top: 40px;
    border-collapse: collapse;
    transition: margin .4s;
}
th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid;
}
tbody tr:nth-child(odd) {
    background: #ececec;
}
tbody tr:hover {
    background-color: #e7e5e5;
    transition: all .4s;
}
.btn__value {
    background-color: #1a73e8;
    color: #FFFFFF;
    border-style: solid;
    border-color: #1a73e8;
}
.animation__message {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}
.about {
    display: block;
    background-color: #1a73e8;
    transition: all .4s;
}
.body__container { display: flex; }
.body__aboutLeft,
.body__aboutRight,
.body__about {
    display: flex;
    flex: 0.1;
    flex-direction: column;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
}
.body__aboutLeft,
.body__aboutRight { font-size: 250px; }
.body__about {
    margin: auto;
    flex: 0.8;
    width: 50%;
    color: #FFFFFF;
}
.projects { margin: 100px 10px; }
.projects h1 { text-align: center; }
.projects__container {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-bottom: 50px;
    padding: 10px;
}
.projects__card {
    position: relative;
    height: 50px;
    margin: 10px;
    padding: 15px 10px;
    display: inline-block;
    background-color: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #212121;
    transition: all .3s;
    box-sizing: border-box;
}
.projects__card:hover { background-color: #F0F0F0; height: 170px; }
.projects__title { font-weight: bold; font-size: 20px; }
.projects__description { opacity: 0; }
.projects__card:hover .projects__description { opacity: 1; }
.projects__detail {
    opacity: 0;
    float: right;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}
.projects__card:hover .projects__detail { opacity: 1; }
.projects__detail:hover { color: #1a73e8!important }
.isCentered { text-align: center; }
.label {
    display: inline-block;
    color: white;
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 50px;
}
.priority { background-color: rgb(224, 64, 64); }
.secondary { background-color: rgb(255, 115, 1); }
.important { background-color: rgb(118, 44, 255); }
.do-later { background-color: green; }
.btn-config { margin-right: 10px; }
.btn-config .MuiButtonBase-root { color: #333; z-index: 1; }
.modal {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    position: fixed;
    transition: all .5s;
    z-index: 999;
    background-color: rgb(0 0 0 / 50%);
    box-shadow: 0 1px 3px 0 rgb(60 64 67 / 30%), 0 4px 8px 3px rgb(60 64 67 / 15%);
}
.modal__bodyBtn {
    display: inline-block;
    width: 100%;
    margin: auto;
    color: #1a73e8;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    transition: all .4s;
    text-decoration: none;
    background-color: none;
    border: 2px solid #1a73e8;
}
.modal__bodyBtn:hover { background-color: #1976d2; color: #FFFFFF; }
.modal__container {
    width: 80%;
    padding: 15px;
    margin: 5% auto;
    margin-bottom: 3%;
    border-radius: 10px;
    background-color: #ffffff;
}
.modal__title {
    display: block;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid;
}
.modal__closeBtn {
    float: right;
    opacity: 1;
    font-size: 30px;
    cursor: pointer;
}
.modal__closeBtn:hover {
    opacity: 0.7;
    text-decoration: none;
}
.showBackground { opacity: 1; visibility: visible; }
.hideBackground { opacity: 0; visibility: hidden; }
.showModal { animation: grow 0.15s ease-in forwards; }
.closeModal { animation: shrink 0.2s ease-out forwards; }
.hiddenModal { opacity: 0; visibility: hidden; }
.modal__body { padding: 10px; text-decoration: none; }
.modal__bodyImg {
    display: block;
    width: 100%;
}
select {
    width: 100%;
    padding: 13px;
    outline: none;
    background-color: inherit;
}
.contact {
    position: relative;
    margin: auto 50px;
    margin-bottom: -50px;
    border-radius: 10px;
    color: #FFFFFF;
    background-color: #838dd3;
    transition: all .4s;
}
.contact__container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
}
.contact__body, .contact__me { padding: 15px; }
.contact__body .animation__underline:after { background-color: #FFFFFF; }
.contact__body a { color: #FFFFFF; }
.contact__btn {
    display: inline-block;
    width: 50%;
    margin: auto;
    height: auto;
    color: #FFFFFF;
    font-size: 20px;
    text-align: center;
    padding: 15px 25px;
    transition: all .4s;
    border-radius: 100px;
    text-decoration: none;
    background-color: none;
    border: 2px solid #FFFFFF;
}
.contact__btn:hover { background-color: #FFFFFF; color: #212121; }
.get_in_touch { text-align: center; }
.form { display:block; min-width: 300px; }
.contact__form { padding: 15px; }
.contact__infoField {
    position: relative;
    font-weight: bold;
    display: block;
    overflow: hidden;
    width: 100%;
}
.contact__infoField .contact__inputField {
    width: 100%;
    border: none;
    display: block;
    resize: none;
    outline: none;
    padding: 10px;
    font-size: 20px;
    background-color: transparent;
    border-bottom: 1px solid #7c7c7c;
}
.datepicker > .MuiFormControl-root {
    width: 100%!important;
    margin-top: 2px;
}
.MuiInput-underline:after { border-bottom: 2px solid #1a73e8 !important; }
.MuiInput-underline:not(.Mui-disabled):before { border-bottom: 1px solid #7c7c7c !important; }
.MuiInput-underline:hover:not(.Mui-disabled):before { border-bottom: 1px solid #7c7c7c !important; }
.datepicker > .MuiFormControl-root > .MuiInput-underline {
    text-decoration: none;
    padding: 5px;
    position: relative;
}
.MuiInput-underline:after { transition: all 0.35s !important; }
.MuiIconButton-root span svg{ color: #212121 !important; }
.notifications {
    position: fixed;
    bottom: 15px;
    left: 15px;
    width: 300px;
    max-width: calc(100% - 30px);
    z-index: 1001;
}
.notification {
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    color: #FFF;
    font-size: 16px;
    padding: 15px 20px;
    line-height: 20px;
    margin-bottom: 15px;
    animation: grow 0.5s ease-in forwards;
}
.notification.hide {
    animation: shrink 0.3s ease-out forwards;
}
.no-bot {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    z-index: -1;
}
.notification-success { background-color: #55b559; }
.notification-warning { background-color: #ffcc00; color: black; }
.notification-danger { background-color: #f55145; }
.contact__onFocus {    
    width: 0;
    bottom: 0;
    left: 50%;
    height: 2px;
    position: absolute;
    display: inline-block;
    background: #1a73e8;
    transition: width 0.35s ease 0s, left 0.35s ease 0s;
}
.contact__infoField .contact__inputField:focus + .contact__onFocus { width: 105%; left: 0; }
#form {
    width: 60%;
    padding-top: 100px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    transition: all .4s;
}
.form__contact {
    display: block;
    margin: 0 20px;
    margin-bottom: 40px;
    padding: 40px 20px 10px 20px;
    border-radius: 10px;
    transition: all .4s;
    background-color: #f1f1f1;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 2px 6px 2px rgba(60, 64, 67, .15);
}
.form__container {
    display: grid;
    grid-template-columns: auto auto;
}
.contact__formControl {
    margin: 10px;
    color: #212121;
}
.contact__sendBtn {
    width: auto;
    display: inline-block;
    outline: none;
    margin: auto;
    margin-top: 30px;
    height: auto;
    color: #1a73e8;
    font-size: 20px;
    text-align: center;
    padding: 15px 25px;
    transition: all .4s;
    border-radius: 10px;
    text-decoration: none;
    background-color: transparent;
    border: 2px solid #1a73e8;
}
.contact__sendBtn:hover { background-color: #1976d2; color: #FFFFFF; }
.footer {
    z-index: -1;
    padding: 70px 20px 20px 20px;
    color: #FFFFFF;
    font-weight: bold;
    background-color: #1a73e8;
    transition: all .4s;
}
.footer__socialBtn {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 50%;
    margin: auto;
}
.footer__socialBtn a {
    width: 100%;
    margin: auto;
    display: inline-block;
    width: 40px;
    height: 40px;
    color: #FFFFFF;
    text-align: center;
    transition: all .4s;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 100%;
    text-decoration: none;
    background-color: none;
    border: 2px solid #FFFFFF;
}
.footer__socialBtn a:hover { background-color: #FFFFFF; color: #1a73e8; }
.footer__copyright { margin-top: 40px; width: 100%; text-align: center; }
.content__transition { display: none; }
.content__fadeIn {
    opacity: 0;
    visibility: hidden;
    transform: translateY(20vh);
    transition: opacity .6s ease-out, transform 1.2s ease-out;
    will-change: opacity, visibility;
}
.visible {
    opacity: 1;
    transform: none;
    visibility: visible;
}
.message { margin: 40px auto; }
.g-recaptcha { display: inline-block; }
.unverified path { color: hsl(16, 100%, 50%) !important; }
.verified path { color: rgb(66, 196, 49) !important; }
.github-corner:hover .octo-arm{ animation:octocat-wave 560ms ease-in-out }
.show-password { user-select: none; text-align: center; }
.container-bar { display: inline-block; }
.bar1, .bar2, .bar3 {
    width: 20px;
    height: 1.75px;
    background-color: #333;
    margin: 4.5px 0;
    transition: .4s;
}
.bar1 { margin-top: none!important; }
.closeIcon .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-5px, 5.8px);
}
.closeIcon .bar2 { opacity: 0; }
.closeIcon .bar3 {
    -webkit-transform: rotate(45deg) translate(-2px, 0px);
    transform: rotate(045deg) translate(-2px, -4.5px);
}
blockquote{
    display: block;
    background: rgb(255 229 100 / 30%);
    padding: 15px 20px 15px 10px;
    margin: 0 20px 20px;
    position: relative;
    font-size: 16px;
    line-height: 1.2;
    color: rgb(0, 0, 0);
    text-align: justify;
    border-left: 7px solid #ffe564;
    /* -moz-box-shadow: 2px 2px 15px #ccc;
    -webkit-box-shadow: 2px 2px 15px #ccc;
    box-shadow: 2px 2px 15px #ccc; */
}
blockquote a{
    text-decoration: none;
    background: #eee;
    cursor: pointer;
    padding: 0 3px;
    color: #c76c0c;
}
blockquote a:hover{ color: #666; }
blockquote em {font-style: italic;}
.small { font-size: 14px; }
.full td { width: 70%; text-align: left; }
.view-eye {
    float: right;
    margin-top: -42px!important;
    position: relative;
    z-index: 1;
    cursor: pointer;
}
.view-eye svg {
    font-size: 0.7em;
    color: #212121;
}
.info-title {
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
}
@keyframes octocat-wave {
    0%,100%{transform:rotate(0)}
    20%,60%{transform:rotate(-25deg)}
    40%,80%{transform:rotate(10deg)}
}
@keyframes grow {
    from {
        opacity: 0;
        visibility: hidden;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
    }
}
@keyframes shrink {
    to {
        opacity: 0;
        visibility: hidden;
        transform: scale(0.8);
    }
}
@-webkit-keyframes rotation {
    from {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
}
@keyframes rotation {
    from {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
}
@-webkit-keyframes shape1 {
    from {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
    }
    to {
      -webkit-transform: translate(20px, 20px);
              transform: translate(20px, 20px);
    }
}
@keyframes shape1 {
    from {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
    }
    to {
      -webkit-transform: translate(20px, 20px);
              transform: translate(20px, 20px);
    }
}
@-webkit-keyframes shape2 {
    from {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
    }
    to {
      -webkit-transform: translate(-20px, 20px);
              transform: translate(-20px, 20px);
    }
}
@keyframes shape2 {
    from {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
    }
    to {
      -webkit-transform: translate(-20px, 20px);
              transform: translate(-20px, 20px);
    }
}
@-webkit-keyframes shape3 {
    from {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
    }
    to {
      -webkit-transform: translate(20px, -20px);
              transform: translate(20px, -20px);
    }
}
@keyframes shape3 {
    from {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
    }
    to {
      -webkit-transform: translate(20px, -20px);
              transform: translate(20px, -20px);
    }
}
@-webkit-keyframes shape4 {
    from {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
    }
    to {
      -webkit-transform: translate(-20px, -20px);
              transform: translate(-20px, -20px);
    }
}
@keyframes shape4 {
    from {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
    }
    to {
      -webkit-transform: translate(-20px, -20px);
              transform: translate(-20px, -20px);
    }
}
@media only screen and (max-width: 1024px) {
    .body__aboutLeft, .body__aboutRight { display: none; }
    .body__about { flex: 1; }
    #form { width: 70%; }
}
@media only screen and (max-width: 900px) {
    .body__aboutLeft,.body__aboutRight { font-size: 320px; }
    .projects__container { grid-template-columns: auto auto; }
    .privacy-policy { margin: 0 100px; }
}
@media only screen and (max-width: 768px) {
    .navbar a {
        display: block;
        float: none;
        text-align: center;
    }
    .navbar .icons { display: none; }
    .navbar .description { display: inline-flex; }
    .navbar__menu { display: none; float: none; }
    .github-corner { display: none; }
    .toggleNavbar { display: block; }
    .main__divider { width: 60%; }
    .main__button { width: 40%; }
    .body__aboutLeft,
    .body__aboutRight {
        flex: 0.5!important;
    }
    .projects__container { grid-template-columns: auto; }
    .contact { margin: auto 25px -70px 25px; }
    .contact__me { padding: 10px; text-align: center; }
    .contact__container { grid-template-columns: auto; }
    .modal__container { margin: 5% auto; }
    #form { width: 100%; }
    .form__container { grid-template-columns: auto; }
    .footer__socialBtn { width: 75%; }
    .btn__outline { width: 50%; margin-top: 20px; }
    .privacy-policy { margin: 0 20px; }
}
@media only screen and (max-width: 600px) {
    .animation__message { width: 100%; height: auto; }
    .btn__outline { width: 65%; }
    .oauth-box p { font-family: sans-serif; }
    .privacy-policy { margin: 0 15px; }
}
@media (max-width:500px){
    .github-corner:hover .octo-arm{animation:none}
    .github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}
}
@media only screen and (max-width: 480px) {
    .main__divider { width: 80%; }
    .main__button { width: 50%; }
    .footer__socialBtn { width: 100%; }
    .btn__outline { width: 85%; }
    .badges { position: relative; margin-top: 20px; }
}